@model PhatHanhSach.Models.agent_payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>agent_payment</h4>
    <hr />
</div>
<div class="row">
    <div class="col col-md-6">
        <table class="table table-striped table-hover">
            <tr>
                <td><b>Tên Đại Lý</b></td>
                <td>@Html.DisplayFor(model => model.agent.name)</td>
            </tr>
            <tr>
                <td><b>Ngày thanh toán</b></td>
                <td>@Html.DisplayFor(model => model.date)</td>
            </tr>
            <tr>
                <td><b>Tổng tiền</b></td>
                <td>@Html.DisplayFor(model => model.amount)</td>
            </tr>
        </table>
    </div>
    <div class="col col-md-6">
        <table class="table table-bordered">
            <thead>
                <th>Tên sách</th>
                <th>Giá</th>
                <th>Số lượng</th>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.list)
                {
                    <tr>
                        <td>@item.book.name</td>
                        <td>@item.book.price</td>
                        <td>@item.quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
