@model PhatHanhSach.Models.agent_payment_detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>agent_payment_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent_payment.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent_payment.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
